

  <div class="product">
    <div class="product-image">
      <%= image_tag product.image %>
      <img src="https://upload.wikimedia.org/wikipedia/commons/5/5e/Rode_blaarkop_hoogdrachtig.jpg" alt="">
    </div>
    <div class="product-header">
      <%= product.title %>
    </div>
    <div class="product-copy">
      <p><%= product.description %></p>

      <div class="progress-bar-indication">
        <span class="meter" style="width: <%= product.progress %>%">
          <p><%= product.progress %>%</p>
        </span>
      </div>

       <div class="stats">



        <ul>
          <li><%= product.progress %>%<span>Pledged</span></li>
          <li><%= product.orders.count %><span>Pledgers</span></li>
          <li><%= product.days_to_go %> <span>Days to go</span></li>
        </ul>
      </div>
    </div>
  </div>
