  <div class="product">
    <div class="product-image">
      <%= link_to image_tag(product.image), product_path(product) %>
    </div>
    <div class="product-header">
      <%= link_to product.title, product_path(product) %>

      <% if product.price %>
      <span class="pull-right"><%= number_to_currency(product.price, precision: 0, unit: "€") %></span>
      <% end %>
    </div>
    <div class="product-copy">
      <div class="product-description">
        <p><%= markdown truncate(product.description, length: 140) %></p>
      </div>





    </div>
    <div class="product-pledge">
          <div class="progress-bar-indication">
        <span class="meter" style="width: <%= product.progress %>%">
        </span>
      </div>



       <div class="stats">
        <ul>
          <li><%= product.progress %>%<span>Pledged</span></li>
          <li><%= product.orders.count %><span>Pledgers</span></li>
          <li><%= product.days_to_go %> <span>Days to go</span></li>
        </ul>
      </div>
    </div>
    <div class="product-farmer">
      <%= link_to image_tag(product.owner.gravatar_url, class: "avatar"), user_path(product.owner) %>
          From <%= link_to product.owner.name, user_path(product.owner), class: "name"  %><br>
      <span class="stars">☆☆☆☆☆</span> <%= product.comments.count %> Reviews
    </div>
  </div>
