<div class="container">


  <% if @errors %>
    <ul>
      <% @errors.each do |error| %>
        <li><%= error.message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form">  <p>
  Awesome!<br>
  You are almost ready to start offering products.<br>
  We just need the following info to be able to process payments:
  </p>
    <%= form_tag merchants_path, method: :post, authenticity_token: true do %>

      <%= text_field_tag "business_name", nil, placeholder: "Business name", required: :required %>

      <%= text_field_tag "tax_id", nil, placeholder: "Tax id", required: :required %>

      <div class="right"><%= submit_tag "Submit" %></div>

    <% end %>
  </div>
</div>
