<p id="notice"><%= notice %></p>
<div class="hero">
  <%= image_tag(@product.image, class: "mood-video") %>
  <div class="hero-inner">
    <div class="hero-copy">
      <h1><%= @product.title %></h1>
    </div>
  </div>
</div>

<section class="main">
  


<div class="product-copy">
  <p><%= @product.description %></p>

  <div class="progress-bar-indication">
    <span class="meter" style="width: <%= @product.progress %>%">
      <p><%= @product.progress %>%</p>
    </span>
  </div>

   <div class="stats">
    <ul>
      <li><%= @product.progress %>%<span>Pledged</span></li>
      <li><%= @product.orders.count %><span>Pledgers</span></li>
      <li><%= @product.days_to_go %> <span>Days to go</span></li>
    </ul>
  </div>
</div>

<%= link_to 'Edit', edit_product_path(@product) if @owner %> |
<%= link_to 'Back', products_path %>
  
</section>
